body{
  background-color: #101d24;
  color: #777e83;
}
.navbar-brand{
  color: #777e83 !important;
}
.bd-dark {
  background-color: #202c33 !important;
}
.select-user{
  background-color: #777e83;
  width: 65px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
}
.users-list{
  display: none;
  background-color: #777e83;
  border-radius: 10px;
  margin: 5px 5px;
}
.img-user{
  width: 14%;
  padding: 5px;
}
.nb-options .active{
  color: #35cd96;
  border-bottom: 3px solid #35cd96;
}
.contacts{
  display: none;
}
.chat-card,
.contact-card{
  padding: 15px;
}
.chat-card .content{
  padding: 10px;
  border-bottom: 2px solid #777e83;
}
.img-chat-card{
  width: 20%;
  max-width: 80px;
  padding: 5px;
}
.img-contact-card{
  width: 15%;
  padding: 5px;
}
.chat-pane{
  display: none;
  position: absolute;
  bottom: 0;
}
.chat-pane,
.row-message{
  width: 100%;
}
.user-message,
.contact-message{
  max-width: 70%;
  margin: 5px 10px;
  padding: 5px 10px;
}
.user-message{
  background-color: #113632;
  float: right;
  border-radius: 5px 0 5px  5px;
}
.contact-message{
  background-color: #202c33;
  float: left;
  border-radius: 0 5px 5px  5px;
}