body{
  background-color: #101d24;
  color: #777e83;
  height: -webkit-fill-available;
}
.navbar{
  position: fixed !important;
  width: 100%;
}
.navbar-brand{
  color: #777e83 !important;
}
.bd-dark {
  background-color: #202c33 !important;
}
.select-user{
  background-color: #777e83;
  width: 65px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
}
.users-list{
  display: none;
  background-color: #777e83;
  border-radius: 10px;
  margin: 5px 5px;
}
.img-user{
  width: 14%;
  padding: 5px;
}
.nb-options .active{
  color: #35cd96;
  border-bottom: 3px solid #35cd96;
}
.contacts{
  display: none;
}
.chat-card,
.contact-card{
  padding: 15px;
}
.chat-card:hover,
.contact-card:hover{
  background-color: #212d33;
}
.chat-card .content{
  padding: 10px;
  border-bottom: 2px solid #777e83;
}
.img-chat-card{
  width: 20%;
  max-width: 80px;
  padding: 5px;
}
.img-contact-card{
  width: 15%;
  padding: 5px;
}
.chats,
.contacts{
  padding-top: 110px;
}
.chat-pane{
  display: none;
  width: 100%;
  height: 100vh;
}
.messages-preview{
  height: calc(100vh - calc(110px - 50px));
}
.send-message,
.received-message{
  max-width: 70%;
  margin: 5px 10px;
  padding: 5px 10px;
}
.send-message{
  background-color: #113632;
  border-radius: 5px 0 5px  5px;
  align-self: flex-end;
}
.received-message{
  background-color: #202c33;
  border-radius: 0 5px 5px  5px;
}
.message-form{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #202c33;
  padding: 10px;
}